.input {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.input input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
