.modal_content {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--modal_content-background-color);
  height: 150px;
  width: 500px;
  z-index: 100;
  position: fixed;
  top: 250px;
  left: 650px;
  transform: translate(-50%, -50%);
  border: 2px solid #fdfdfd;
}

.title {
  color: var(--h1-color);
  text-align: center;
  margin-top: -10px;
}

.closeButton {
  position: absolute;
  bottom: 0;
  width: 110px;
  height: 38px;
  border-radius: 5px;
  color: #6c63ff;
  left: 20px;
  top: 140px;
  cursor: pointer;
}

.appButton {
  position: absolute;
  bottom: 0;
  width: 110px;
  height: 38px;
  border-radius: 5px;
  color: #ffffff;
  right: 50px;
  top: 140px;
  background-color: #6c63ff;
  cursor: pointer;
}

.input {
  width: 440px;
  height: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 5px;
  border: 2px solid #ccc;
  border-radius: 10px;
  border-color: var(--input-border-color);
  margin-left: 20px;
  margin-top: -30px;
}

.errorMessage {
  color: red;
  margin-top: 10px;
  text-align: center;
}
